*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background: #e4e4e4;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.acenter{
    align-items: center;
}

.jcenter{
    justify-content: center;
}

.btn{
    padding: 8px 20px;
    background: #f46036;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
    transition: all .2s;
    &:hover{
        background: #c4421e;
    }
}

figure{
    margin: 0;
    display: block;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.search{
    outline: none;
    padding: 15px 10px;
    width: 85%;

    &::placeholder{
        font-size: 12px;
        font-style: italic;
    }
}



header{
    background: -webkit-gradient(linear,left top,right top,from(#353535),color-stop(20%,#515151),color-stop(46%,#515151),to(#353535));
    background: linear-gradient(90deg,#353535 0,#515151 20%,#515151 46%,#353535);
    justify-content: space-around;
    width: 100%;
    color: black;
    height: 120px;
    padding: 0 10%;
    position: relative;

    figure{
        width: 290px;
        height: 60px;
        max-width: 300px;
    }

    h1{
        margin-left: 15px;
    }

    span{
        color: grey;
        background: white;
        font-size: 1.5em;
        position: relative; 
        right: 1px;
        height: 52px;
        width: 52px;
        cursor:pointer;
        .fas{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    >div{
        width: 30%;
    }
}
.sign-up{
    background: rgb(19, 19, 19);
    color: white;
    border: 2px solid #f46036;
    &:hover{
        background: rgb(61, 61, 61);
    }
}

.banner{
    cursor: pointer;
    img{
        height: auto;
        vertical-align: middle;
        margin: 0 auto 0 auto;
        width: 110%;
    }

}

section#cat{
    justify-content: space-around;
    padding: 12%;
    height: 600px;
    flex-wrap: wrap;

    figure{
        width: 24%;
        position: relative;
        height: 180px;
        background: white;
        cursor: pointer;
        box-shadow: 0 0 3px black;
        &:hover{
            transform: scale(1.1);
            z-index: 2;
        }
        img{
            position: absolute;
            top: -130px;
            width: 250px;
            height: 250px;
            left: 50%;
            transform: translateX(-50%);
        }

        label{
            position: absolute;
            top: 90px;
            left: 50%;
            transform: translateX(-50%);

            text-align: center;
            font-weight: bold;
            font-size: 20px;
            margin: 1em 0;
        }
    }
}

@media only screen and(max-width: 1320px){
    header{
        padding: 0;
    }

    section#cat{
        padding: 6%;
        figure{
            margin-top: 150px;
            width: 48%;
        }
    }
}

@media only screen and(max-width: 950px){
    header{
        figure{
            overflow: hidden;
            position: relative;
            width: 50px;
            height: 80px;
            img{
                position: absolute;
                transform: translateX(00px);
                height: 80px;
                width: 200px;
            }
        }
    }
}

@media only screen and(max-width: 680px){
    section#cat{
        figure{
            margin-top: 150px;
            width: 90%;
        }
    }
}

